.chat
  .chat-side
    .chat-user
      .chat-user__name
        %h1 
          = current_user.name
      .chat-user__icon
        %li.list
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
    .chat-groups
      - current_user.groups.each do |group|
        .chat-group  
          = link_to group_messages_path(group) do
            .chat-group__name
              = group.name
            .chat-group__message
              メッセージはまだありません。

  .chat-main
    .chat-header
      .chat-header__left
        %h2.group test-group
        %p.user Members: test-user
      .chat-header__right
        %p.edit-btn Edit

    .chat-body
      %ul.chat-contents
        %li.chat-content
          .chat-content__header
            .chat-content__name
              %p test-user
            .chat-content__time
              %p 2019/07/28 17:23:32
          .chat-content__message
            %p さようなら
        %li.chat-content
          .chat-content__header
            .chat-content__name
              %p test-user
            .chat-content__time
              %p 2019/07/29 22:33:43
          .chat-content__message
            %p hello!
        

    .chat-footer
      .chat-footer__message
        .chat-footer__message__text
          %textarea{placeholder: 'type a message'}
        .chat-footer__message__image
          %label
            %input{type: 'file'}
              %i.fa.fa-picture-o
      .chat-footer__send
        %input{type: 'submit', value: 'Send'}