.chat
  .chat-side
    .chat-user
      .chat-user__name
        %h3.header_user.name
          = current_user.name
      .chat-user__icon
        %li.list
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', data: {'turbolinks' => false}, class: 'icon'
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
    .chat-groups
      - current_user.groups.each do |group|
        .chat-group
          = link_to group_messages_path(group) do
            .chat-group__name
              = group.name
            .chat-group__message
              = group.show_last_message

  .chat-main
    .chat-header
      .chat-header__left
        %h2.group 
          = @group.name
        %p.user Members: 
        - @group.users.each do |user|
          %span
            = user.name
      .chat-header__right
        = link_to 'edit', edit_group_path(@group), data: {'turbolinks' => false}, class: 'edit-btn'
    
    .chat-messages
      = render @messages
        
    .footer
      .form
        =form_for [@group, @message] do |f|
          =f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'